In [6]:
import pandas as pd

marketing = pd.read_csv("files_for_lab/csv_files/marketing_customer_analysis.csv")
marketing.head(10)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
5,5,HO81102,NaN,4745.181764,NaN,Basic,High School or Below,2/14/11,Employed,M,...,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
6,6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,NaN
7,7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,...,0.0,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,NaN
8,8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,...,0.0,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,NaN
9,9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,NaN

In [7]:
marketing.shape

(10910, 26)

In [8]:
marketing = marketing.drop("Unnamed: 0", axis = 1)
marketing.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [21]:
marketing = marketing.rename(columns = {"Customer":"Id","Customer Lifetime Value":"CLV","Effective To Date":"Date","EmploymentStatus":"Status","Number of Open Complaints":"Open Complaints","Number of Policies":"N. Policies","Total Claim Amount":"TCA","Location Code":"Location","Monthly Premium Auto":"Premium(M)","Months Since Last Claim":"Last Claim(M)","Months Since Policy Inception":"Policy Inception(M)","Renew Offer Type":"Renew Type"})
                        
marketing.head()

,Id,State,CLV,Response,Coverage,Education,Date,Status,Gender,Income,...,Open Complaints,N. Policies,Policy Type,Policy,Renew Type,Sales Channel,TCA,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [25]:
marketing.dtypes

Id                      object
State                   object
CLV                    float64
Response                object
Coverage                object
Education               object
Date                    object
Status                  object
Gender                  object
Income                   int64
Location                object
Marital Status          object
Premium(M)               int64
Last Claim(M)          float64
Policy Inception(M)      int64
Open Complaints        float64
N. Policies              int64
Policy Type             object
Policy                  object
Renew Type              object
Sales Channel           object
TCA                    float64
Vehicle Class           object
Vehicle Size            object
Vehicle Type            object
dtype: object

In [28]:
marketing.isna().any()
marketing.isna().sum()

Id                     False
State                   True
CLV                    False
Response                True
Coverage               False
Education              False
Date                   False
Status                 False
Gender                 False
Income                 False
Location               False
Marital Status         False
Premium(M)             False
Last Claim(M)           True
Policy Inception(M)    False
Open Complaints         True
N. Policies            False
Policy Type            False
Policy                 False
Renew Type             False
Sales Channel          False
TCA                    False
Vehicle Class           True
Vehicle Size            True
Vehicle Type            True
dtype: bool

In [39]:
nulls= pd.DataFrame(round(marketing.isna().sum()/len(marketing),4)*100)
nulls= nulls.reset_index()
nulls.columns = ['variable','% nulls']
nulls

                   name  % nulls
0                    Id     0.00
1                 State     5.78
2                   CLV     0.00
3              Response     5.78
4              Coverage     0.00
5             Education     0.00
6                  Date     0.00
7                Status     0.00
8                Gender     0.00
9                Income     0.00
10             Location     0.00
11       Marital Status     0.00
12           Premium(M)     0.00
13        Last Claim(M)     5.80
14  Policy Inception(M)     0.00
15      Open Complaints     5.80
16          N. Policies     0.00
17          Policy Type     0.00
18               Policy     0.00
19           Renew Type     0.00
20        Sales Channel     0.00
21                  TCA     0.00
22        Vehicle Class     5.70
23         Vehicle Size     5.70
24         Vehicle Type    50.25

In [66]:
#marketing["Response"].value_counts()
#marketing["Last Claim(M)"].value_counts()
#marketing["Open Complaints"].value_counts()
#marketing["Vehicle Class"].value_counts()
#marketing["Vehicle Size"].value_counts()
marketing["Vehicle Type"].value_counts()

A    5428
Name: Vehicle Type, dtype: int64

In [67]:
import numpy as np
mean_LCM = np.mean(marketing["Last Claim(M)"])
marketing["Last Claim(M)"] = marketing["Last Claim(M)"].fillna(mean_LCM)

mean_OC = np.mean(marketing["Open Complaints"])
marketing["Open Complaints"] = marketing["Open Complaints"].fillna(mean_OC)

In [72]:
marketing["Response"] = marketing["Response"].fillna("No")
marketing["Vehicle Class"] = marketing["Vehicle Class"].fillna("Not Informed")
marketing["Vehicle Size"] = marketing["Vehicle Size"].fillna("Not Informed")
marketing["State"] = marketing["State"].fillna("Not Informed")
marketing["Vehicle Type"] = marketing["Vehicle Type"].fillna("A")
marketing.head(10)

,Id,State,CLV,Response,Coverage,Education,Date,Status,Gender,Income,...,Open Complaints,N. Policies,Policy Type,Policy,Renew Type,Sales Channel,TCA,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A
5,HO81102,Not Informed,4745.181764,No,Basic,High School or Below,2/14/11,Employed,M,50549,...,0.000000,7,Personal Auto,Personal L3,Offer1,Agent,292.800000,Four-Door Car,Medsize,A
6,IW72280,California,5035.035257,No,Basic,Doctor,2/14/11,Employed,F,37405,...,3.000000,4,Corporate Auto,Corporate L2,Offer2,Branch,287.556107,Four-Door Car,Medsize,A
7,IH64929,California,4956.247235,No,Basic,High School or Below,2/24/11,Employed,M,87197,...,0.000000,3,Personal Auto,Personal L2,Offer2,Branch,247.402353,Two-Door Car,Medsize,A
8,FM55990,California,5989.773931,Yes,Premium,College,1/19/11,Employed,M,66839,...,0.000000,1,Personal Auto,Personal L1,Offer2,Branch,739.200000,Sports Car,Medsize,A
9,QX31376,Oregon,17114.328150,No,Extended,Master,1/4/11,Employed,F,70961,...,0.000000,2,Corporate Auto,Corporate L3,Offer2,Agent,408.000000,Four-Door Car,Small,A

In [73]:
marketing['Date'] = pd.to_datetime(marketing['Date'], errors='coerce')
marketing.dtypes

Id                             object
State                          object
CLV                           float64
Response                       object
Coverage                       object
Education                      object
Date                   datetime64[ns]
Status                         object
Gender                         object
Income                          int64
Location                       object
Marital Status                 object
Premium(M)                      int64
Last Claim(M)                 float64
Policy Inception(M)             int64
Open Complaints               float64
N. Policies                     int64
Policy Type                    object
Policy                         object
Renew Type                     object
Sales Channel                  object
TCA                           float64
Vehicle Class                  object
Vehicle Size                   object
Vehicle Type                   object
dtype: object

In [74]:
marketing['Date']

0       2011-02-18
1       2011-01-18
2       2011-02-10
3       2011-01-11
4       2011-01-17
           ...
10905   2011-01-19
10906   2011-01-06
10907   2011-02-06
10908   2011-02-13
10909   2011-01-08
Name: Date, Length: 10910, dtype: datetime64[ns]

In [88]:
#marketing['Date'].month
marketing['Month'] = marketing['Date'].dt.month

In [90]:
marketing_filtered = marketing[(marketing['Month']<=3)]

marketing_filtered

,Id,State,CLV,Response,Coverage,Education,Date,Status,Gender,Income,...,N. Policies,Policy Type,Policy,Renew Type,Sales Channel,TCA,Vehicle Class,Vehicle Size,Vehicle Type,Month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,Not Informed,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [91]:
import time
from datetime import date

In [92]:
def month(m):
    if m in [1]:
        return 'January'
    elif m in [2]:
        return 'February'
    elif m in [3]:
        return 'March'
    else:
        return x